*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root */
:root {
	--color-nav-bar: #ff6800;
	--color-discount: #ff0000;
	--color-sostenibilità: #008001;
	--color-primary-color: #ffffff;
	--color-secondary-color: #1a1a1a;
}

/* general */
body{
    position: relative;
}
.debug{
    border: 2px solid black;
}
.container{
    width: 80%;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-primary-color);
}
.row-flex{
    display: flex;
    flex-flow: row wrap;
}
.padding{
    padding: 20px 0px;
}
.left-padding{
    padding: 5px;
}
.white-text{
    color: var(--color-primary-color);
    font-weight: bold;
}
/* nav bar */
.padding-main{
    padding-top: 130px;
}
.header-set{
    background-color: var(--color-nav-bar);
    box-shadow: 0px 5px 11px -5px black;
}
.logo, .section, .icon{
    width: calc(100%/3);
}
.logo{
    text-align: center;
}
.logo img{
    width: 30%;
    margin: 0 auto;
}
.icon{
    color: var(--color-primary-color);
    text-align: end;
    font-size: 0.8em;
}
.nav-flex{
    justify-content: space-between;
    align-items: center;
}
.nav-position-flex{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* main */
.unit{
    width: 32%;
    margin-bottom: 15px;
    min-width: 300px;
    position: relative;
}
.unit img{
    width:100%;
    display: block;
}
.bold{
    font-weight: bold;
}
.red-text{
    color: var(--color-discount);
}
.line{
    text-decoration: line-through;
}
.image{
    position: relative;
}
.heart{
   background-color: var(--color-primary-color);
   position: absolute;
   top: 8px;
   right: 0;
   padding: 10px;
}
.discont-positon{
    position: absolute;
    left: 0;
    bottom: 40px;
}
.discount{
    background-color: var(--color-discount);
    margin-right: 5px;
    padding: 5px 10px;
}
.sostenibilità{
    background-color: var(--color-sostenibilità);
    padding: 5px 10px;
}

/* footer */
.bg-footer{
    background-color: var(--color-secondary-color);
}

/* hover */
.image:hover .primary-image{
    display: none;
}
.secondary-image{
    display: none;
}
.image:hover .secondary-image{
    display: inline-block;
}
.heart:hover{
    color: var(--color-discount);
}